<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MY APP</title>
</head>

<body>
    <h1> May Node, Express, and Mongodb be with you. </h1>
    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
    </form>
    <h2>Quotes</h2>
    <ul class="quotes">
        <% for(var i = 0; i < quotes.length; i++) {%>
            <li class="quotes">
                <span><%= quotes[i].name %></span>
                <span><%= quotes[i].quote %></span>
            </li>
            <% } %>
    </ul>
    <div>
        <h2>Abbas invades!</h2>
        <p>
            Replace Ali quote with a quote written by Me.
        </p>
        <button id="update-button">Replace quote</button>
    </div>
    <div>
        <h2>Remove Abbas!</h2>
        <p>
            Delete one Abbas's quote. Does nothing if there are no more Abbas's quote
        </p>
        <button id="delete-button">Delete Abbas's quote</button>
    </div>
    <div id="message"></div>
    <script src="/main.js"></script>
</body>

</html>